/*
    This file contains the css for the alert message
*/
.alert{
    display: none;
    width: 600px;
    height: 200px;

    /* set the position to fixed so that the alert message will not be affected by the scrolling */
    position: fixed;
    background: white;
    margin: auto;
    color:black;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;

}
#alert-message{
    display: contents;
    position: fixed;
    background: black;
    color:black;
}