/*
    The following code is the CSS for the comment section (comment.html).
 */
.comment-box,
.self-comment-box {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    padding: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

/* user self comment box */
.self-comment-box {
    flex: 3;
    display: flex;
    flex-direction: column;
    /* set the element inside the box align to center */
    align-items: center;
    justify-content: center;
}

/* comment box */
.comment-box {
    flex: 7;
    position: relative;
    height: 450px;
    /* set the element over the y axis scrollable */
    overflow-y: auto;
}

/* comment window (default hidden) */
.commenter-window {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* The image in the comment box and self-common box */
.comment-box img,
.self-comment-box img {
    width: 50px;
    height: 50px;
    /* circle image */
    border-radius: 50%;
}

/* The pattern of the pan of the comment box and self-comment box is the same */
.comment-box div,
.self-comment-box div {
    margin: 0.5rem 1rem;
    background-color: #e6e6e6;
    padding: 0.5rem;
    border-radius: 8px;
}

/* The pattern of the span of the comment box and self-comment box is the same */
.comment-box span,
.self-comment-box span {
    display: block;
    background-color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* automatically wrap the text */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* The pattern of the input and textarea of the comment box and self-comment box is the same */
.self-comment-box input,textarea {
    width: 90%;
    font-size: 1.125rem;
    margin: 1rem 0;
    border-radius: 5px;
    /* allow vertical resize, but not horizontal resize */
    resize: vertical;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.self-comment-box input {
    height: 2rem;
}

.self-comment-box textarea {
    height: 5rem;
}

/* The pattern of the button of the comment box */
.self-comment-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    /* set the cursor to pointer */
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    margin-left: 1rem;
    /* set transition effect */
    transition: background-color 0.3s, color 0.3s;
}

/* Set the hover effect of the button in the user comment */
.self-comment-box button:hover {
    background-color: white;
    color: #007bff;
    font-style: italic;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
