/*
    The following code is the CSS for the item page (item.html).
*/

.comment-box,
.left-box {
    border: 2px solid var(--comment-border-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
    background-color: var(--comment-bg-color);
    padding: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    height: 500px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.left-box {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.item-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operation-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-box {
    flex: 7;
    position: relative;
    overflow-y: auto;
}

.comment-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commenter-window {
    display: none;
    position: absolute;
    background-color: var(--comment-input-bg-color);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
}

.comment-box img,
.left-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
}

.comment-box div,
.left-box div {
    margin: 0.5rem 1rem;
    background-color: var(--comment-text-area-bg-color);
    padding: 0.5rem;
    border-radius: var(--comment-text-area-border-radius);
}

.comment-box span,
.left-box span {
    display: block;
    background-color: var(--comment-span-bg-color);
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.left-box input {
    border: rgb(0, 0, 0, 0.0);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
    background-color: var(--comment-span-bg-color);
    color: var(--text-color);

    font-size: 1.125rem;
    margin: 1rem 1rem;
    height: 2rem;
}


.left-box input::placeholder {
    color: var(--text-color);
}

.left-box button,
.comment-box button {
    background-color: var(--comment-button-bg-color);
    color: var(--comment-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.left-box button:hover,
.comment-box button:hover {
    background-color: var(--comment-button-hover-bg-color);
    color: var(--comment-button-hover-text-color);
    font-style: italic;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
}
