/* 公共样式 */
.comment-box,
.left-box {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    padding: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

/* 用户自评论容器 */
.left-box {
    flex: 3; /* 与.comment-box的比例为3:7 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
}

/* 评论容器 */
.comment-box {
    flex: 7; /* 与.self-comment-box的比例为7:3 */
    position: relative;
    height: 500px;
    overflow-y: auto; /* 超出部分y方向滚动 */
}

/* 评论窗口（默认隐藏） */
.commenter-window {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 评论和用户评论中的图片样式 */
.comment-box img,
.left-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* 圆形图片 */
}

/* 评论和用户评论中的div容器样式 */
.comment-box div,
.left-box div {
    margin: 0.5rem 1rem;
    background-color: #e6e6e6;
    padding: 0.5rem;
    border-radius: 8px;
}

/* 评论和用户评论中的span标签样式 */
.comment-box span,
.left-box span {
    display: block;
    background-color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* 自动换行 */
    overflow-wrap: break-word;
}

/* 用户评论中的输入框和文本区域样式 */
.left-box input,textarea {
    width: 90%;
    font-size: 1.125rem;
    margin: 1rem 0;
    border-radius: 5px;
    resize: vertical; /* 允许垂直调整大小，禁止水平调整 */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.left-box input {
    height: 2rem;
}

.left-box textarea {
    height: 5rem;
}

/* 用户评论中的按钮样式 */
.left-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer; /* 手型指针 */
    font-size: 1.25rem;
    text-align: center;
    margin-left: 1rem;
    transition: background-color 0.3s, color 0.3s; /* 过渡效果 */
}

/* 用户评论中的按钮鼠标悬停效果 */
.left-box button:hover {
    background-color: white;
    color: #007bff;
    font-style: italic;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
