/*
    The following code is the CSS for the item page (itemBuyer.html).
*/

.right-box,
.left-box {
    border: 2px solid var(--comment-border-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
    background-color: var(--comment-bg-color);
    padding: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    height: 500px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}


.left-box {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.right-box{
    flex:3;

    display: flex;
    flex-direction: column;
}

.info-box {
    flex: 10;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    display: flex;
    font-size: 25px;

}

.info-box > div {
    flex: 1;
    display: flex;
    align-items: center;

}


/*.item-rating-box{*/
/*    margin-top: 5px;*/
/*}*/

.seller-box {
    flex: 1;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyer-box {
    flex: 1;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-amount-box{
    margin-right: 10px;
}

.buy-box {
    margin-right: 10px;
}
.delete-box {
    /*padding: 10px;*/
    /*margin: 10px;*/
}




.item-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.operation-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-box {
    flex: 10;
    position: relative;
    overflow-y: auto;
}

.more-comment-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--comment-text-area-bg-color);
    border-radius: var(--comment-text-area-border-radius);
    margin: 10px;
}

.more-comment-box button {
    background-color: var(--comment-button-bg-color);
    color: var(--comment-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.more-comment-box button:hover {
    background-color: var(--comment-button-hover-bg-color);
    color: var(--comment-button-hover-text-color);
    font-style: italic;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
}


.comment-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commenter-window {
    display: none;
    position: absolute;
    background-color: var(--comment-input-bg-color);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
}

.comment-box img,
.left-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
}

.comment-box div{
    margin: 10px;
    background-color: var(--comment-text-area-bg-color);
    padding: 0.5rem;
    border-radius: var(--comment-text-area-border-radius);
}

.left-box div {
    background-color: var(--comment-text-area-bg-color);
    border-radius: var(--comment-text-area-border-radius);
}

.comment-box span{
    display: block;
    background-color: var(--comment-span-bg-color);
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
    word-wrap: break-word;
    overflow-wrap: break-word;
}





.left-box input {
    border: rgb(0, 0, 0, 0.0);
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
    background-color: var(--comment-span-bg-color);
    color: var(--text-color);

    font-size: 25px;
    /*margin-left: 5rem;*/
    height: 2rem;
}


.item-name-box input{
    margin-left: 90px;
}

.item-rating-box input{
    margin-left: 85px;
}

.item-description-box input{
    margin-left: 32px;
}

.item-price-box input{
    margin-left: 98px;
}

.item-storage-box input{
    margin-left: 72px;
}

/*input和span分界线*/

.item-name-box > span:nth-child(2){
    margin-left: 90px;
}
.item-rating-box > span:nth-child(2){
    margin-left: 85px;
}

.item-description-box > span:nth-child(2){
    margin-left: 32px;
}

.item-price-box > span:nth-child(2){
    margin-left: 98px;
}

.item-storage-box > span:nth-child(2){
    margin-left: 72px;
}




.left-box input::placeholder {
    color: var(--text-color);
}

/*.left-box button,*/
/*.comment-box button {*/
/*    background-color: var(--comment-button-bg-color);*/
/*    color: var(--comment-button-text-color);*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    padding: 0.75rem 1.5rem;*/
/*    cursor: pointer;*/
/*    font-size: 1.25rem;*/
/*    text-align: center;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

.item-img-box button{
    background-color: var(--comment-text-area-bg-color);
    color: var(--comment-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
}

.seller-box button{
    background-color: var(--comment-button-bg-color);
    color: var(--comment-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.buy-box button{
    background-color: var(--comment-button-bg-color);
    color: var(--comment-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.left-box button:hover,
.comment-box button:hover {
    background-color: var(--comment-button-hover-bg-color);
    color: var(--comment-button-hover-text-color);
    font-style: italic;
    box-shadow: 0 2px 5px var(--comment-box-shadow);
}
