/*
    The following CSS code is the style of the login page.
 */

/* set the background div pattern of the login page */
.login-background-div {
    margin: 0 auto;
    display: flex;
    /* vertical arrange the element inside the box */
    align-items: center;
    flex-direction: column;
}

.login-background-div .phone {
    margin-top: 50px;
}

.login-background-div input {
    margin: 10px;
    height: 40px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    /* set the background color of the input box */
    background: linear-gradient(to right, #f2f2f2, #e6e6e6);
    border: black 2px solid;
}

.login-background-div .register a {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    color: #007bff;
    /* set the transition effect of the color */
    transition: color 0.3s ease;
}

.login-background-div .register a:hover {
    color: orangered;
}

.login-background-div .submit button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    /* set the background color of the button */
    background: linear-gradient(to right, #007bff, #0056b3);

    /* set the transition effect of the color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-background-div .submit button:hover {
    background-color: white;
    color: #007bff;
    font-style: italic;
}
