/* 注册页面 */
.register-background-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
    align-items: center;    /* 水平居中子元素 */
}

/* 设置所有子div（如user-type、phone、password、submit）为flex容器 */
.register-background-div > div {
    display: flex;
    flex-direction: row;    /* 横向排列子元素 */
    align-items: center;    /* 垂直居中子元素 */
    width: 100%;            /* 设置为最大宽度 */
    justify-content: center; /* 水平居中内容 */
    margin-bottom: 20px;    /* 统一设置间距 */
}




/* 设置标签、输入框和按钮的统一宽度 */
.register-background-div label,
.register-background-div input,
.register-background-div button {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* input和button的不同的样式 */
.phone input,
.password input {
    margin: 10px;
    height: 40px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #f2f2f2, #e6e6e6);
    border: black 2px solid;
}

.register-background-div .submit button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    background: linear-gradient(to right, #007bff, #0056b3);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.register-background-div .submit button:hover {
    background-color: white;
    color: #007bff;
    font-style: italic;
}
