/*
    The following CSS code is the style of the shop page.
 */


/*
    The frame of each item (product).
 */
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.item {
    /* set the width of each item */
    flex-basis: calc(45%);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--shop-item-box-shadow);
    background-color: var(--shop-item-bg-color);
    text-align: center;
}
.item button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.item div{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--shop-item-div-bg-color);
    font-size: 20px;
}

/*
    set the first child of the item div (a image ) as the background of the item div
 */
.item div:first-child{
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--shop-item-bg-color);
}

.item img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 5px;
}

/*
    view next page button
 */
.next button{
    background-color: var(--shop-button-bg-color);
    color: var(--shop-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-top: 800px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    /* set transition effect */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.next button:hover{
    background-color: var(--shop-button-hover-bg-color);
    color: var(--shop-button-hover-text-color);
    font-style: italic;
}

/*
    view previous page button
 */
.prev button{
    background-color: var(--shop-button-bg-color);
    color: var(--shop-button-text-color);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-top: 800px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    /* set transition effect */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.prev button:hover{
    background-color: var(--shop-button-hover-bg-color);
    color: var(--shop-button-hover-text-color);
    font-style: italic;
}
