{#
    This HTML file is page for files buyerInfo.htlm & sellerInfo.html to extends.
    It declare some basic style and constructure of those files.
    It has such funtions:
    1. get_session (Extends)
    2. log_out

    Using js:
    1. alert.js (Extends)
    2. get_user_image.js (Extends)
    3. render_user_info.js

    JS functions:
    1. get_user_image (Extends)
    2. alert_message (Extends)
    3. render_user_info
#}
{% extends "base.html" %}

{% block main %}
    <link rel="stylesheet" href="/static/css/base_personInfo.css">
    <script src="/static/js/render_user_info.js"></script>
    <script>

{#    this method is to log out user#}
    function log_out(){
        $.ajax({
            url:"/clearSession",
            type:"get",
            contentType: "application/json",
            dataType: "json",
            success:function (data){

                {#jump to shop page#}
                window.location.replace("/shop");
            }
        })
    }
    </script>
    <div class="nav-bar">
        {% block nav_bar %}{% endblock %}

    <button class="nav-button" id="log_out" onclick="log_out()">log_out</button>
    </div>
    <div class="body">
        {% block body %}{% endblock %}
    </div>

    <div class="back-button-box">
        <button class="back-button" onclick="history.back()">Back</button>
    </div>
{% endblock %}