<!DOCTYPE html>
<html lang="en">
<head>
{#
页面需要参数：
phone:当前用户phone（String）,<<<若未登录返回None></若未登录返回None></若未登录返回None></若未登录返回None>
name:当前用户name
type:当前用户类型，1为买家，0为卖家
#}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
{#通用css#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{#独有css#}
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
{#const#}
    <script>
        let phone;
        let type;
        let name;
        $.ajax({
                url:"/getSession",
                type:"get",
                contentType: "application/json",
                dataType: "json",
                success:function (data){
                    phone = data.phone;
                    type = data.type;
                    name = data.name;
                    const user_box = $(".user-box");
                    const a = document.createElement("a");
                    if (type==="0"){
                        a.setAttribute("href", "/sellerInfo");
                        a.innerText = name;
                    }else if(type==="1") {
                        a.setAttribute("href", "/buyerInfo");
                        a.innerText = name;
                    }else{
                        a.setAttribute("href", "/login");
                        a.innerText = "Login";
                    }
                    user_box.append(a)

                    $(document).trigger("sessionLoaded");
                }
            })
    </script>
     {% block script %}{% endblock %}
</head>
<body>
<div class="top-box">
{#LOGO#}
    <div class="logo-box">
        <img src="{{ url_for('static', filename='img/logo.img') }}" alt="LOGO">
    </div>
{#可能的searchbox#}
    <div class="search-box">
        {% block search_box %}{% endblock %}
    </div>
{#用户info#}
    <div class="user-box">
    </div>
{#主体#}
</div>
<div class="main">
    {% block main %}{% endblock %}
</div>
</body>
</html>