{#
    This HTML file is page for other HTML files to extends.
    It declare some basic style and constructure.
    It has such funtions:
    1. get_session

    Using js:
    1. alert.js
    2. get_user_image.js

    JS functions:
    1. get_user_image
    2. alert_message
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="/static/css/alert.css">

    {% block css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/alert.js"></script>
    <script src="/static/js/get_user_image.js"></script>
{#const#}
    <script>
    let phone;
    let type;
    let name;
    let light_mode;

    window.onload = function (){
        {#alert_message("test")#}

        get_session();
    }

    {#this method is to get and load session#}
    function get_session(){
        $.ajax({
            url:"/getSession",
            type:"get",
            contentType: "application/json",
            dataType: "json",
            success:function (data){
                {#session exist, load session#}
                phone = data.phone;
                type = data.type;
                name = data.name;
                {#light_mode = data.style;#}
                light_mode = true;

                {#generate tag#}
                const a = document.createElement("a");
                const operation = document.createElement("a")
                const page_style_button = document.createElement("button", {
                    class:"page_style_button",
                    type: "button"
                })
                page_style_button.onclick = function (){
                    light_mode = !light_mode;
                    this.innerText = light_mode?"Light Mode":"Dark Mode";
                }
                page_style_button.innerText = light_mode?"Light Mode":"Dark Mode";
                if (type==="0"){
                    a.setAttribute("href", "/userInfo");
                    a.innerText = name;
                    operation.setAttribute("href", "/sellerAdd")
                    operation.innerText = "Add Item";
                }else if(type==="1") {
                    a.setAttribute("href", "/userInfo");
                    a.innerText = name;
                    operation.setAttribute("href", "/buyerItem")
                    operation.innerText = "My Item";
                }else{
                    a.setAttribute("href", "/login");
                    a.innerText = "Login";
                }
                $(".user-name").append(a);
                $(".mode-button").append(page_style_button);
                $(".user-operation").append(operation);

                {#execue functions#}
                $(document).trigger("sessionLoaded");

                {#load user image#}
                get_user_image($(".user-image"));
            },
            error:function (){

                {#generate tag#}
                const a = document.createElement("a");
                a.innerText = "Login";
                a.setAttribute("href", "/login")
                $(".user-name").append(a)

                {#session not exist, continue to execue functions#}
                $(document).trigger("sessionLoaded");

                {#load user image#}
                get_user_image($(".user-image"));
            }
        })
    }
    </script>
     {% block script %}{% endblock %}
</head>
<body>
<div class="top-box">
{#LOGO#}
    <div class="logo-box">
        <a href='/'>
        <img src="/static/img/Logo.jpeg" alt="LOGO">
        </a>
    </div>
{#可能的searchbox#}
    <div class="search-box">
        <input type="search" id="search-box" placeholder="search" style="display: none">
    </div>
    <div class="mode-button"></div>
{#用户operation#}
    <div class="user-operation">
    </div>
{#用户info#}
    <div class="user-box">
        <div class="user-img">
            <img src="" alt="" class="user-image">
        </div>
        <div class="user-name"></div>
    </div>
{#主体#}
</div>
<div class="main">
    {% block main %}{% endblock %}
</div>
<div class="alert">
    <span id="alert-message"></span>
</div>
</body>
</html>