{% extends "base_admin.html" %}

{% block script %}
    <script src="/static/js/render_purchased_items.js"></script>
    <script>

    window.onload = function (){
        get_and_render_purchased_items()
    }

    function get_and_render_purchased_items(){
    $.ajax({
        url:"/buyer/buyerItem",
        type:"get",
        data: {
            admin_phone: admin_phone
        },
        success:function (data){
            render_purchased_items($(".purchased-item-box"), data)
        }
    })
}
    </script>
{% endblock %}

{% block main %}
    <div class="purchased-item-box"></div>
{% endblock %}