{% extends "base_personInfo.html" %}

{#
页面需要参数：
phone:当前用户phone（String）,<<<若未登录返回None></若未登录返回None></若未登录返回None></若未登录返回None>
name:当前用户name
#}
{% block import %}
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
{% endblock %}

{#title应放入base中#}
{% block title %}
{{ name }}的个人界面
{% endblock %}

{% block nav_bar %}
    <button class="nav-button" id="info">info</button>
    <button class="nav-button" id="charge">charge</button>
    <button class="nav-button" id="purchased">purchased</button>
{% endblock %}

{% block script %}
    <script>
    window.onload = function (){
        $("#info").click(function (){
            info();
        })
        $("#charge").click(function (){
            charge();
        })
        $("#purchased").click(function (){
            purchased();
        })
        info();
    }
    </script>

    <script>
    function info(){
        {#清除dom#}
        $(".body").innerText='';

        $.ajax({
            url:"/buyerInfo",
            type:"get",
            data:"{{ phone }}",
            success:function (data){
                {#var container = document.createElement("div")#}
                var name = "";
                var password = "";
                var introduction = "";

                var name_div = document.createElement("div");
                var name_input = document.createElement("input");
                name_div.setAttribute("class", "info-div");
                name_div.setAttribute("id", "name-div");
                name_input.setAttribute("type", "text");
                name_input.setAttribute("value", name);
                name_input.setAttribute("id", "name");
                name_div.append(name_input);
                $(".body").append(name_div);

                var phone_div = document.createElement("div");
                var phone_input = document.createElement("input");
                phone_div.setAttribute("class", "info-div");
                phone_div.setAttribute("id", "phone-div");
                phone_input.setAttribute("type", "text");
                phone_input.setAttribute("value", "{{ phone }}");
                phone_input.setAttribute("id", "phone");
                phone_div.append(phone_input);
                $(".body").append(phone_div);

                var introduction_div = document.createElement("div");
                var introduction_input = document.createElement("input");
                introduction_div.setAttribute("class", "info-div");
                introduction_div.setAttribute("id", "introduction-div");
                introduction_input.setAttribute("type", "text");
                introduction_input.setAttribute("value", introduction);
                introduction_input.setAttribute("id", "introduction");
                introduction_div.append(introduction_input);
                $(".body").append(introduction_div);

                var password_div = document.createElement("div");
                var password_input = document.createElement("input");
                password_div.setAttribute("class", "info-div");
                password_div.setAttribute("id", "password-div");
                password_input.setAttribute("type", "text");
                password_input.setAttribute("value", password);
                password_input.setAttribute("id", "password");
                password_div.append(password_input);
                $(".body").append(password_div);

                var submit_div = document.createElement("div");
                submit_div.click(function (){
                    $.ajax({
                        url:'/modifyBuyerInfo',
                        type:'get',
                        data:{
                            phone:"{{ phone }}",
                            name:$("#name").val(),
                            password:$("#password").val(),
                            introduction:$("#introduction").val(),
                        },
                        success:info()
                    })
                })
            }
        })


    }
    function charge(){
        {#清除dom#}
        $(".body").innerText='';

        $.ajax({
            url:"/getMoney",
            type:"get",
            data:{
                phone:"{{ phone }}",
            },
            success:function (data){
                var current = ""
                var current_div = document.createElement("div");
                current_div.setAttribute("class", "charge-div");
                current_div.setAttribute("id", "current-div");
                current_div.innerText = "Current:"+current;
                $(".body").append(current_div);

                var pay_div = document.createElement("div");
                pay_div.setAttribute("class", "charge-div");
                pay_div.setAttribute("id", "pay-div");
                var pay_input = document.createElement("input");
                pay_input.setAttribute("id", "pay");
                pay_div.append(pay_input);
                $(".body").append(pay_div);

                var password_div = document.createElement("div");
                var password_input = document.createElement("input");
                password_div.setAttribute("class", "charge-div");
                password_div.setAttribute("id", "password-div");
                password_input.setAttribute("type", "password");
                password_input.setAttribute("id", "password");
                password_div.append(password_input);
                $(".body").append(password_div);

                var submit_div = document.createElement("div");
                submit_div.click(function (){
                    $.ajax({
                        url:'/modifyBuyerInfo',
                        type:'get',
                        data:{
                            phone:"{{ phone }}",
                            password:$("#password").val(),
                            charge_num:$("#pay").val(),
                        },
                        success:charge()
                    })
                })
            }
        })
    }
    function purchased(){
        {#清除dom#}
        $(".body").innerText='';

        $.ajax({
            url:"/buyerItem",
            type:"get",
            data:{
                phone:"{{ phone }}",
            },
            success:function (data){
                for (int i=0; i<data.length; i++){
                    var item = data[i];
                    
                }
            }
        })
    }
    </script>
{% endblock %}