<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Manage</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/render_comment.js"></script>
    <script src="/js/render_user_info.js"></script>
    <script>
        window.onload = function (){
            get_and_render_user_info()
            get_and_render_comment();
        }

        function get_and_render_user_info(){
            $.ajax({
                url:"",
                type:"get",
                data:{

                },
                success: function (data){
                    render_user_info(data)
                }
            })
        }
    </script>
</head>
<body>
<div class="user-info-box"></div>
<div class="comment-box"></div>
</body>
</html>