{% extends "base_admin.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyerManage.css') }}">
{% endblock %}

{% block script %}
    <script src="/static/js/render_user_info.js"></script>
    <script src="/static/js/modify_balance.js"></script>
    <script src="/static/js/get_user_image.js"></script>
    <script src="/static/js/render_money.js"></script>
    <script src="/static/js/reset_user_introduction.js"></script>
    <script src="/static/js/reset_user_name.js"></script>
    <script src="/static/js/reset_user_image.js"></script>
    <script src="/static/js/ban_user.js"></script>
    <script src="/static/js/delete_user.js"></script>
    <script>
    let phone = "{{ phone }}"
    let status;
    let user_type = "1"

    window.onload = function (){
        get_user_image($(".user-image"), phone)
        render_user_info(user_type, phone);
        render_money($(".current-money"), phone)
        $("#phone-span").text(phone)
    }
    </script>
{% endblock %}

{% block body %}
    <div class="right-bar">
        <div class="img-div">
            <img class="user-image">
        </div>

        <form class="info-form">
            <div class="info-div" id="phone-div">
                Phone:
                <span id="phone-span"></span>
            </div>

            <div class="info-div" id="name-div">
                Name:
                <span id="name-span"></span>
            </div>

            <div class="info-div" id="introduction-div">
                Introduction:
                <span id="introduction-span"></span>
            </div>

            <div class="info-div" id="status-div">
                Status:
                <span id="status-span"></span>
            </div>
        </form>

        <div class="operation-box">
            <div class="reset-user-image">
                <button type="button" onclick="reset_user_image($('.user-image'), phone)" class="operation-button">Reset Image</button>
            </div>
            <div class="reset-user-name">
                <button type="button" onclick="reset_user_name(user_type, phone)" class="operation-button">Reset Name</button>
            </div>
            <div class="reset-user-introduction">
                <button type="button" onclick="reset_user_introduction(user_type, phone)" class="operation-button">Reset Introduction</button>
            </div>
            <div class="ban-user">
                <button type="button" id="ban-user-button" onclick="if(!confirm(status)){return;}ban_user(user_type, admin_phone, phone)">Ban User</button>
            </div>
            <div class="delete-user">
                <button type="button" id="delete-user-button" onclick="delete_user(phone, isAdmin)">Delete User</button>
            </div>
        </div>

        <div class="user-amount-box">
            <div class="current-money-box">
                <span class="current-money"></span>
            </div>

            <div class="charge-money-box">
                    <input type="number" placeholder="modify to: " id="charge-money" name="charge_num" onblur="modify_balance($('.current-money'), $('#charge-money'), phone)">
            </div>
        </div>
    </div>
{% endblock %}