{% extends "base_admin.html" %}

{% block script %}
    <script src="/static/js/render_comment.js"></script>
    <script src="/js/render_user_info.js"></script>
    <script>
        window.onload = function (){
            get_and_render_user_info()
            render_user_manage_button();
        }

        function get_and_render_user_info(){
            $.ajax({
                url:"",
                type:"get",
                data:{

                },
                success: function (data){
                    render_user_info(data)
                }
            })
        }

        function render_user_manage_button(){

        }
    </script>
{% endblock %}

{% block body %}
<div class="user-info-box"></div>
<div class="comment-box"></div>
{% endblock %}