{#
    This HTML file is page for users who have already logged in to inspect comment.
    Buyers can also upload their comments.
    It has such funtions:
    1. get_session (Extends)
    2. get_and_render_comment
    3. render_next_page_button
    4. render_prev_page_button
    5. get_and_render_prev_page
    6. get_and_render_next_page
    7. render_self_comment_box
    8. create_comment

    Using js:
    1. alert.js (Extends)
    2. get_user_image.js (Extends)
    3. render_comment.js
    4. is_item_match_seller.js

    JS functions:
    1. get_user_image (Extends)
    2. alert_message (Extends)
    3. render_comment
    4. is_item_match_seller
#}
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/comment.css">
{% endblock %}

{% block script %}
    <script src="/static/js/render_product_all_comment.js"></script>
    <script src="/static/js/render_comment.js"></script>
    <script src="/static/js/is_item_match_seller.js"></script>
    <script>
    let page_num = 1;
    let product_id = "{{ product_id }}"

    {#this method is to hide empty span#};
    function hide_empty_span(){
        const span_list = document.querySelector(".self-message-box").getElementsByTagName("span");
        for (let i=0; i<span_list.length; i++){
            if (span_list[i].innerText===""){
                span_list[i].parentElement.style.display = "none";
            }
        }
    }

    {#this method is to get and load session#};

    {#when session is loaded#}
    $(document).on("sessionLoaded", function() {
        render_product_all_comment($(".comment-box"), product_id, phone)
        // hide_empty_span();

        if (type==="1"){
            render_self_comment_box();
        }
    })

    {#This function is to render self comment box#}
    function render_self_comment_box() {
        {#Render DIV container#}
        const self_comment_box = document.createElement("div");
        self_comment_box.setAttribute("class", "self-comment-box")

        $(".main").append(self_comment_box);


        {#Render INPUT NUMBER rating#}
        const self_message_div = document.createElement("div");
        const self_message = document.createElement("span");

        self_message_div.setAttribute("class", "self-message-box");

        self_comment_box.append(self_message_div);
        self_message_div.append(self_message);


        {#Render INPUT NUMBER rating#}
        const self_rating_div = document.createElement("div");
        const self_rating = document.createElement("input");

        self_rating_div.setAttribute("class", "self-rating-box");
        self_rating.setAttribute("class", "self-rating");
        self_rating.setAttribute("placeHolder", "rating");
        self_rating.setAttribute("type", "number");
        self_rating.onkeyup = function (){
            self_message.innerText = check_rating(this.value)
        }

        self_comment_box.append(self_rating_div);
        self_rating_div.append(self_rating);


        {#Render TEXTAREA content#}
        const self_content_div = document.createElement("div");
        const self_content = document.createElement("textarea");

        self_content_div.setAttribute("class", "self-content-box");
        self_content.setAttribute("class", "self-content");
        self_content.setAttribute("placeHolder", "content");
        self_rating.setAttribute("type", "text");

        self_comment_box.append(self_content_div);
        self_content_div.append(self_content);

        {#Render BUTTON submit#}
        const self_submit_div = document.createElement("div");
        const self_submit_button = document.createElement("button");

        self_submit_div.setAttribute("class", "self-submit-box");
        self_submit_button.setAttribute("id", "self-content-button");
        self_submit_button.innerText = "Submit"
        self_submit_button.onclick = function () {
            create_comment(self_rating.value, self_content.value)
        }

        self_comment_box.append(self_submit_div);
        self_submit_div.append(self_submit_button)

    }

    {#This function is to create comment#}
    function create_comment(rating, content){
        $.ajax({
            url: "/comment/createComment",
            type: "get",
            contentType: "application/json",
            dataType: "json",
            data: {
                buyer_phone:phone,
                product_id:"{{ product_id }}",
                rating:rating,
                content:content
            },
            success:function (data){
                if (data.success){
                    alert(data.message)
                    {#reload comment#}
                    render_product_all_comment($(".comment-box"), product_id, phone)
                }else {
                    alert(data.message)
                }
            }
        })
    }

    function check_rating(value){
        if (value==="1" || value==="2" || value==="3" || value==="4" || value==="5")
            return ""
        else {
            return "Rating must be 1 or 2 or 3 or 4 or 5"
        }
    }

    </script>
{% endblock %}

{% block main %}
    <div class="comment-box">
    </div>
{% endblock %}