{% extends "base.html" %}

{% block css %}
/static/css/comment.css
{% endblock %}

{% block script %}
    <script src="/static/js/render_comment.js"></script>
    <script src="/static/js/is_item_match_seller.js"></script>
    <script>
    let page_num = 1;
    let belong;

    $(document).on("sessionLoaded", function() {
        is_item_match_seller("{{ product_id }}")
        $(document).on("belongLoaded", function () {
            get_comment();
            get_prev_page();
            get_next_page();

            console.log(belong)
            if (!belong) {
                render_self_comment_box();
            }
        })
    })

    function get_comment(){
        $.ajax({
            url:"/comment/commentInfoById",
            type:"get",
            contentType: "application/json",
            dataType: "json",
            data:{
                product_id:"{{ product_id }}",
                phone:phone,
            },
            success:function(data){
                render_comment(data);
            }
        })
    }

    function render_next_page_button() {
        const button = document.createElement("button");
        button.setAttribute("class", "page-button");
        button.innerText = "next";
        button.onclick = function () {
            page_num++;
            get_comment();
        }
        $(".next").append(button);
    }

    function get_next_page(){
        $.ajax({
            url:"/comment/hasNextComment",
            type:"get",
            contentType: "application/json",
            dataType: "json",
            data: {
                phone: phone,
                keyword: $("#search-box").val(),
                page_num: page_num,
            },
            success: function (data) {
                if (data.has_next) {
                    render_next_page_button(data)
                }
            }
        })
    }

    function render_prev_page_button(){
        const button = document.createElement("button");
        button.setAttribute("class", "page-button");
        button.innerText = "prev";
        button.onclick = function () {
            page_num--;
            get_comment();
        }
        $(".prev").append(button);
    }

    function get_prev_page(){
        if (page_num>1){
            render_prev_page_button()
        }
    }

    function render_self_comment_box() {
        const self_comment_box = document.createElement("div");
        self_comment_box.setAttribute("class", "self-comment-box")

        $(".main").append(self_comment_box);

        const self_rating_div = document.createElement("div");
        const self_rating = document.createElement("input");

        self_rating_div.setAttribute("class", "self-rating-box");
        self_rating.setAttribute("class", "self-rating");
        self_rating.setAttribute("placeHolder", "rating");
        self_rating.setAttribute("type", "number");

        self_comment_box.append(self_rating_div);
        self_rating_div.append(self_rating);

        const self_content_div = document.createElement("div");
        const self_content = document.createElement("textarea");

        self_content_div.setAttribute("class", "self-content-box");
        self_content.setAttribute("class", "self-content");
        self_content.setAttribute("placeHolder", "content");
        self_rating.setAttribute("type", "text");

        self_comment_box.append(self_content_div);
        self_content_div.append(self_content);

        const self_content_button = document.createElement("button");

        self_content_button.setAttribute("id", "self-content-button");
        self_content_button.innerText = "Submit->"
        self_content_button.onclick = function () {
            create_comment(self_rating.value, self_content.value)
        }

        self_comment_box.append(self_content_button);

    }

    function create_comment(rating, content){
        $.ajax({
            url: "/comment/createComment",
            type: "get",
            contentType: "application/json",
            dataType: "json",
            data: {
                buyer_phone:phone,
                product_id:"{{ product_id }}",
                rating:rating,
                content:content
            },
            success:function (data){
                if (data.success){
                    alert(data.message)
                    get_comment();
                }else {
                    alert(data.message)
                }
            }
        })
    }

    </script>
{% endblock %}

{% block main %}
    <div class="comment-box">
    </div>
    <div class="prev"></div>
    <div class="next"></div>
{% endblock %}