{#
    This HTML file is page for users to inspect items in detail.
    This page will also show the highest five comments and lowest five comments.
    Buyers can buy the item in this page.
    Sellers can modify their items in this page.
    It has such funtions:
    1. get_session (Extends)
    2. get_and_render_item_data
    3. render_item_data
    4. render_prev_page_button
    5. render_buyer
    6. render_modify_button
    7. get_and_render_comment
    8. render_more_comment_button
    9. get_and_render_rating

    Using js:
    1. alert.js (Extends)
    2. get_user_image.js (Extends)
    3. render_comment.js
    4. is_item_match_seller.js

    JS functions:
    1. get_user_image (Extends)
    2. alert_message (Extends)
    3. render_comment
    4. is_item_match_seller
#}
{% extends "base.html" %}

{% block title %}
{{ product_id }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/item.css">
{% endblock %}

{% block script %}
    <script src="/static/js/render_comment.js"></script>
    <script src="/static/js/render_item_info.js"></script>
    <script src="/static/js/render_product_basic_comment.js"></script>
    <script src="/static/js/buy_item.js"></script>
    <script>
    let product_id = "{{ product_id }}"
    {#when session is loaded#}
    $(document).on("sessionLoaded", function () {
        render_item_info(product_id)
        render_product_basic_comment($(".comment-box"), product_id)
    });
    </script>
{% endblock %}

{% block main %}
<div class="left-box">
    <div class="info-box">
        <div class="item-img-box">
            <img id="item-img">
        </div>
        <div class="item-name-box">
            <span>Name:</span>
            <span id="item-name"></span>
        </div>
        <div class="item-rating-box">
            <span>Rating:</span>
            <span id="item-rating"></span>
        </div>
        <div class="item-description-box">
            <span>Description:</span>
            <span id="item-description"></span>
        </div>
        <div class="item-price-box">
            <span>Price:</span>
            <span id="item-price"></span>
        </div>
        <div class="item-storage-box">
            <span>Storage:</span>
            <span id="item-storage"></span>
        </div>
    </div>

    <div class="buyer-box">
        <div class="buy-amount-box">
            <input type="number" id="buy-amount" placeholder="amount">
        </div>
        <div class="buy-box">
            <button class="buy-button" type="button" onclick="buy_item($('#buy-amount'), product_id, phone)">BUY</button>
        </div>
    </div>
</div>

<div class="right-box">
    <div class="comment-box"></div>
    <div class="more-comment-box">
        <button class="more-comment-button" type="button" onclick="window.location.href = '/comment?product_id=' + product_id +'&phone=' + phone">More Comment</button>
    </div>
</div>

<div class="back-button-box">
    <button class="back-button" onclick="history.back()">Back</button>
</div>
{% endblock %}