{% extends "base.html" %}

{% block title %}
{{ product_id }}
{% endblock %}

{% block script %}
    <script>
    window.onload = function () {

        $.ajax({
            url: "/products/itemInfoById",
            type: "get",
            data: {
                product_id: "{{ product_id }}"
            },
            success: function (data) {
                let img;
                let name;
                let rating;
                let price;
                let storage
                {#buyer/visiter#}
                {% if belong==false %}

                    img = document.createElement("img");
                    name = document.createElement("span");
                    rating = document.createElement("span");
                    price = document.createElement("span");
                    storage = document.createElement("span");

                    img.setAttribute("src", data.src);
                    name.innerText = data.name;
                    rating.innerText = data.average_rating;
                    price.innerText = data.price;
                    storage.innerText = data.storage;
                {% else %}
                    img = document.createElement("img");
                    name = document.createElement("input");
                    rating = document.createElement("input");
                    price = document.createElement("input");
                    storage = document.createElement("input");

                    img.setAttribute("src", data.src);
                    name.value = data.name;

                    rating.setAttribute("type", "text")
                    rating.value = data.average_rating;

                    price.setAttribute("type", "text")
                    price.value = data.price;

                    storage.setAttribute("type", "text")
                    storage.value = data.storage;

                {% endif %}

                $(".img-box").append(img);name.setAttribute("type", "text")
                $(".item-name-box").append(name);
                $(".item-rating-box").append(rating);
                $(".item-price-box").append(price);
                $(".item-storage-box").append(storage);

            }
        })

        {#基础comment#}
        $.ajax({
            url: "/comment/commentBasicInfoById",
            type: "get",
            data: {
                product_id: "{{ product_id }}"
            },
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    const comment = data[i];
                    const comment_div = document.createElement("div");
                    comment_div.setAttribute("class", "comment");

                    const comment_rating_div = document.createElement("div");
                    comment_rating_div.setAttribute("class", "comment-rating");
                    const comment_rating = document.createElement("span");
                    comment_rating.innerText = comment.rating;
                    comment_rating_div.append(comment_rating);
                    comment_div.append(comment_rating_div);

                    const comment_content_div = document.createElement("div");
                    comment_content_div.setAttribute("class", "comment-text");
                    const comment_content = document.createElement("span");
                    comment_content.innerText = comment.content;
                    comment_content_div.append(comment_content);
                    comment_div.append(comment_content_div);

                    const comment_text = document.createComment("div");
                    comment_text.innerText = comment.text;

                    $(".item-comment-box").append(comment_div);
                }
            }
        })

        {#buyer 购买#}
        {% if belong==false %}

                const buy_num = document.createElement("input");
                buy_num.setAttribute("type", "num");
                buy_num.setAttribute("placeHolder", "1");
                buy_num.setAttribute("id", "buy-num");

                const buy_button = document.createElement("button");
                buy_button.setAttribute("id", "buy-button");
                buy_button.innerText = "BUY!";
                buy_button.onclick = function () {
                    $.ajax({
                        url: "/buyer/buyItem",
                        type: "get",
                        contentType: "application/json",
                        dataType: "json",
                        data: {
                            product_id: "{{ product_id }}",
                            phone: phone,
                            num: buy_num.value,
                        },
                        success: function (data) {
                            alert(data)
                        }
                    })
                };
                const buy_box = $(".buy-box");
                buy_box.append(buy_num);
                buy_box.append(buy_button);
        {% endif %}

{#    鼠标下拉并展示更多comment#}
        if (phone!==null) {
            $(".item-comment-box").scroll(function () {
                if ($(this).scrollTop() + $(this).height() === $(document).height()) {
                    console.log(1)
                }
            })

        }

        {#buyer#}
{#    评论悬浮框#}
        if (type === "1"){
            const self_rating_div = document.createElement("div");
            self_rating_div.setAttribute("class", "self-rating-box");
            const self_rating = document.createElement("input");
            self_rating.setAttribute("class", "self-rating");
            self_rating.setAttribute("placeHolder", "rating");
            self_rating.setAttribute("type", "number");
            const self_content_div = document.createElement("div");
            self_content_div.setAttribute("class", "self-content-box");
            const self_content = document.createElement("input");
            self_content.setAttribute("class", "self-content");
            self_content.setAttribute("placeHolder", "content");
            self_rating.setAttribute("type", "text");
            const self_content_button = document.createElement("button");
            self_content_button.setAttribute("id", "self-content-button");
            self_content_button.innerText = "Submit->"
            self_content_button.onclick = function (){
                console.log(self_rating.value)
                console.log(self_content.value)
                $.ajax({
                    url:"/comment/createComment",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    data:{
                        buyer_phone:phone,
                        comment:self_content.value,
                        rating:self_rating.value,
                        product_id:"{{ product_id }}"
                    }
                })
            }
            const comment_box = $(".self-comment-box");
            self_content_div.append(self_content);
            self_rating_div.append(self_rating);
            comment_box.append(self_rating_div);
            comment_box.append(self_content_div);
            comment_box.append(self_content_button);

        }
    }
    </script>
{% endblock %}

{% block main %}
<div class="left-box">
    <div class="img-box"></div>
    <div class="message-box">
        <div class="item-name-box">
            <span>Name:</span>
        </div>
        <div class="item-rating-box">
            <span>rating:</span>
        </div>
        <div class="item-price-box">
            <span>price:</span>
        </div>
        <div class="item-storage-box">
            <span>storage:</span>
        </div>

    </div>
    <div class="operation-box">
        <div class="buy-operation">
            <div class="buy-box">
            </div>
        </div>
        <div>
            <div class="look-more-comment">
            </div>
        </div>
    </div>
</div>
<div class="right-box">
    <div class="item-comment-box"></div>
    <div class="self-comment-box"></div>
</div>
{% endblock %}