{#
    This HTML file is page for users to inspect items in detail.
    This page will also show the highest five comments and lowest five comments.
    Buyers can buy the item in this page.
    Sellers can modify their items in this page.
    It has such funtions:
    1. get_session (Extends)
    2. get_and_render_item_data
    3. render_item_data
    4. render_prev_page_button
    5. render_buyer
    6. render_modify_button
    7. get_and_render_comment
    8. render_more_comment_button
    9. get_and_render_rating

    Using js:
    1. alert.js (Extends)
    2. get_user_image.js (Extends)
    3. render_comment.js
    4. is_item_match_seller.js

    JS functions:
    1. get_user_image (Extends)
    2. alert_message (Extends)
    3. render_comment
    4. is_item_match_seller
#}
{% extends "base.html" %}

{% block title %}
{{ product_id }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/item.css">
{% endblock %}

{% block script %}
    <script src="/static/js/render_comment.js"></script>
    <script src="/static/js/is_item_match_seller.js"></script>
    <script>
    let belong;

    {#when session is loaded#}
    $(document).on("sessionLoaded", function () {

        is_item_match_seller("{{ product_id }}")
        $(document).on("belongLoaded", function () {

            // invalid account
            if (!belong && type === "0") {
                window.location.href = "/shop";
            }

            get_and_render_item_data();
            get_and_render_comment();

            {#buyer#}
            if (type === "1") {
                render_buyer();
            } else if (type === "0") {

                {#seller#}
                if (belong){
                    window.location.href = "/shop"
                }else {
                    render_seller();
                }
            }
        })
    });

    function get_and_render_item_data(){

        $.ajax({
            url: "/products/itemInfoById",
            type: "get",
            contentType: "application/json",
            dataType: "json",
            data: {
                product_id: "{{ product_id }}"
            },
            success: function (data) {
                render_item_data(data);
                render_rating(data.average_rating);
            }
        })
    }

    function render_item_data(data){

        $(".img-box").empty();
        $(".item-name-box").empty();
        $(".item-description-box").empty();
        $(".item-price-box").empty();
        $(".item-storage-box").empty();

        let img;
        let name;
        let description;
        let price;
        let storage

        img = document.createElement("img", {
                src: data.image_src,
                id: "item-image"
            });
        {#buyer/visiter#}
        if (!belong) {
            name = document.createElement("span", {
                id:"item-name"
            });
            description = document.createElement("p", {
                id:"item-description"
            });
            price = document.createElement("span", {
                id:"item-price"
            });
            storage = document.createElement("span", {
                id:"item-storage"
            });

            name.innerText ="Name: " + data.name;
            description.innerText ="description: " + data.description;
            price.innerText ="Price: " + data.price;
            storage.innerText ="Storage: " + data.storage;
        }else {
            {#seller#}
            const img_form = document.createElement("form", {
                class: "img-form"
            })
            const img_input = document.createElement("input", {
                type:"file",
                id:"img-input",
                accept:"image/*"
            })
            img_input.onchange = function (){
                update_item_image(new FormData(img_form));
            }
            img_form.append(img_input);
            $(".img-box").append(img_form);

            name = document.createElement("input", {
                type:"text",
                value:"Name: " + data.name,
                id:"item-name"
            });
            name.onblur = update_item_msg();

            description = document.createElement("textarea", {
                id:"item-description",
            });
            description.innerText = "description: " + data.description;
            description.onblur = update_item_msg();

            price = document.createElement("input", {
                type:"text",
                value:"Price: " + data.price,
                id:"item-price"
            });
            price.onblur = update_item_msg();

            storage = document.createElement("input", {
                type:"text",
                value:"Storage: " + data.storage,
                id:"item-storage"
            });
            storage.onblur = update_item_msg();
        }

        $(".img-box").append(img);
        $(".item-name-box").append(name);
        $(".item-description-box").append(description);
        $(".item-price-box").append(price);
        $(".item-storage-box").append(storage);
    }

    function render_buyer() {

        const left_box = $(".left-box");
        const buy_box = document.createElement("div");

        buy_box.setAttribute("class", "buy-box")

        left_box.append(buy_box);
        
        const buy_num = document.createElement("input");
        buy_num.setAttribute("type", "num");
        buy_num.setAttribute("placeHolder", "buy number");
        buy_num.setAttribute("id", "buy-num");

        const buy_button = document.createElement("button");
        buy_button.setAttribute("id", "buy-button");
        buy_button.innerText = "BUY";
        buy_button.onclick = function () {
            $.ajax({
                url: "/buyer/buyItem",
                type: "get",
                contentType: "application/json",
                dataType: "json",
                data: {
                    product_id: "{{ product_id }}",
                    phone: phone,
                    quantity: buy_num.value,
                },
                success: function (data) {
                    alert(data.message);
                    if (data.success) {
                        get_and_render_item_data();
                    }
                }
            })
        };
        buy_box.append(buy_num);
        buy_box.append(buy_button);
    }

    function render_seller(){
        //Delete BUTTON
        const delete_button_div = document.createElement("button", {
            class:"delete-button-box"
        })
        const delete_button = document.createElement("button", {
            class:"delete_button",
            type:"button"
        })
        delete_button.onclick = function (){
            window.location.replace("/shop")
        }
        delete_button_div.append(delete_button);
        $(".message-box").append(delete_button_div)
    }

    function get_and_render_comment(){
        $.ajax({
            url: "/comment/commentBasicInfoById",
            type: "get",
            contentType: "application/json",
            dataType: "json",
            data: {
                product_id: "{{ product_id }}"
            },
            success: function (data) {
                render_comment(data)
                render_more_comment_button()
            }
        })
    }

    function render_more_comment_button() {
        const more_comment_button_div = document.createElement("div");
        const more_comment_button = document.createElement("button");

        more_comment_button_div.setAttribute("class", "comment-text");
        more_comment_button.innerText = "More Comment";
        more_comment_button.onclick = function () {
            if (type === "1" || type === "0") {
                window.location.href = "/comment?product_id=" + "{{ product_id }}";
            } else {
                window.location.href = "/login";
            }
        }

        more_comment_button_div.append(more_comment_button);
        $(".comment-box").append(more_comment_button_div);
    }

    function render_rating(){
        const rating_box = $(".rating-box");
        rating_box.empty();

        const rating_text = document.createElement("span", {
            class: "rating-text"
        })
        rating_box.append(rating_text);
    }

    function update_item_image(formdata, product_id){
        $.ajax({
            url:"/images/upload_image_product?product_id=" + product_id,
            type:"post",
            data:formdata,
            dataType:"json",
            processData:false,
            contentType:false,
            success:function (data){
                if (!data.success) {
                    alert(data.message);
                }else{
                    get_and_render_item_data()
                }
            }
        })
    }

    function update_item_msg(){
        /**$.ajax({
            url:"/products/modifyItem",
            type:"get",
            data:{
                seller_phone: phone,

            }
        })
         */
    }
    </script>
{% endblock %}

{% block main %}
<div class="left-box">
    <div class="img-box"></div>
    <div class="message-box">
        <div class="item-name-box">
        </div>
        <div class="item-description-box">
        </div>
        <div class="item-price-box">
        </div>
        <div class="item-storage-box">
        </div>
    </div>
</div>
<div class="rating-box"></div>
<div class="comment-box"></div>

<div class="back-button-box">
    <button class="back-button" onclick="history.back()">Back</button>
</div>
{% endblock %}