{#
    This HTML file is page for user to login.
    It has such funtions:
    1. get_session (Extends)
    2. login
    Using js:
    1. alert.js (Extends)
    2. get_user_image.js (Extends)

    JS functions:
    1. get_user_image (Extends)
    2. alert_message (Extends)
#}

{% extends "base_begin.html" %}

{% block title %}
login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block script %}
    <script>

    {#
    check for login
    execute this function when user attmpt to login
    #}
    function login(){
        $.ajax({
            url:"/authorize/login",
            type:"post",
            data: JSON.stringify({
                phone:$("#phone").val(),
                password:$("#password").val(),
            }),
            contentType: "application/json",
            dataType: "json",
            success:function (response){
                if(response.success){
                    if (response.isAdmin){
                        window.location.replace("/admin")
                        console.log("dddddddd")
                    }else {
                        {#success login: render previous page#}
                        window.location.href = '/shop'
                    }
                } else {

                    {#fail to login: alert error message#}
                    alert(response.message);
                }
            }
        });
    }
    </script>
{% endblock %}

{% block right_box %}
<div class="login-background-div">
    <div class="phone">
        <input type="text" id="phone" placeholder="phone">
    </div>

    <div class="password">
        <input type="password" id="password" placeholder="password">
    </div>

    <div class="register">
        <a href="/register">Click here to register</a>
    </div>

    <div class="submit" onclick="login()">
        <button type="button" id="submit">LOGIN</button>

    </div>


</div>
{% endblock %}
