{#
    This HTML file is page for user to register.
    It has such funtions:
    1. register
#}
{% extends "base_begin.html" %}

{% block title %}
register
{% endblock %}

{% block css %}/static/css/register.css{% endblock %}

{% block script %}
    <script>
    let user_type;

    {#
    update for register
    execute this function when user attmpt to register
    #}
    function register(){
        $.ajax({
            url:"/authorize/register",
            type:"post",
            contentType: "application/json",
            dataType: "json",
            data:JSON.stringify({
                phone:$("#phone").value,
                password:$("#password").value,
                user_type: user_type,
            }),
            success:function (data){
                if(data.success){

                    {#success register#}
                    alert(data.message);

                    {#go back#}
                    history.back();
                } else {

                    {#fail to register: alert error message#}
                    alert(data.message);
                }
            }
        })
    }
    </script>
{% endblock %}

{% block right_box %}
<div class="register-background-div">
    <div class="user-type">
        <label>buyer
        <input type="radio" name="type" class="user-type" value="1" id="buyer" onclick="user_type='1'">
        </label>
        <label>seller
        <input type="radio" name="type" class="user-type" value="0" id="seller" onclick="user_type='0'">
            </label>
    </div>

    <div class="phone">
        <input type="text" id="phone" placeholder="phone">
    </div>

    <div class="password">
        <input type="password" id="password" placeholder="password">
    </div>

    <div class="submit">
        <button id="submit" onclick="register()">REGISTER</button>
    </div>

</div>
{% endblock %}