{% extends "base_personInfo.html" %}

{#
页面需要参数：
phone:当前用户phone（String）
name:当前用户name
#}

{#title应放入base中#}
{% block title %}
{{ name }}的个人界面
{% endblock %}

{% block nav_bar %}
    <button class="nav-button" id="info">info</button>
    <button class="nav-button" id="add-item">add</button>
{% endblock %}

{% block script %}
    <script>
    window.onload = function (){
        $("#info").click(function (){
            info();
        })
        $("#add-item").click(function (){
            add();
        })
        info();
    }
    </script>

    <script>
    function info(){
        {#清除dom#}
        $(".body").innerText='';

        $.ajax({
            url:"/sellerInfo",
            type:"get",
            data:"{{ phone }}",
            success:function (data){
                {#var container = document.createElement("div")#}
                var name = "";
                var password = "";
                var introduction = "";

                var name_div = document.createElement("div");
                var name_input = document.createElement("input");
                name_div.setAttribute("class", "info-div");
                name_div.setAttribute("id", "name-div");
                name_input.setAttribute("type", "text");
                name_input.setAttribute("value", name);
                name_input.setAttribute("id", "name");
                name_div.append(name_input);
                $(".body").append(name_div);

                var phone_div = document.createElement("div");
                var phone_input = document.createElement("input");
                phone_div.setAttribute("class", "info-div");
                phone_div.setAttribute("id", "phone-div");
                phone_input.setAttribute("type", "text");
                phone_input.setAttribute("value", "{{ phone }}");
                phone_input.setAttribute("id", "phone");
                phone_div.append(phone_input);
                $(".body").append(phone_div);

                var introduction_div = document.createElement("div");
                var introduction_input = document.createElement("input");
                introduction_div.setAttribute("class", "info-div");
                introduction_div.setAttribute("id", "introduction-div");
                introduction_input.setAttribute("type", "text");
                introduction_input.setAttribute("value", introduction);
                introduction_input.setAttribute("id", "introduction");
                introduction_div.append(introduction_input);
                $(".body").append(introduction_div);

                var password_div = document.createElement("div");
                var password_input = document.createElement("input");
                password_div.setAttribute("class", "info-div");
                password_div.setAttribute("id", "password-div");
                password_input.setAttribute("type", "text");
                password_input.setAttribute("value", password);
                password_input.setAttribute("id", "password");
                password_div.append(password_input);
                $(".body").append(password_div);

                var submit_div = document.createElement("div");
                submit_div.click(function (){
                    $.ajax({
                        url:'/modifySellerInfo',
                        type:'get',
                        data:{
                            phone:"{{ phone }}",
                            name:$("#name").val(),
                            password:$("#password").val(),
                            introduction:$("#introduction").val(),
                        },
                        success:info()
                    })
                })
            }
        })


    }
    function add(){
        {#清除dom#}
        $(".body").innerText='';

        var item_name = "";
        var item_name_div = document.createElement("div");
        item_name_div.setAttribute("class", "add-div");
        item_name_div.setAttribute("id", "item_name-div");
        var item_name_input = document.createElement("input");
        item_name_input.setAttribute("id", "item_name");
        item_name_div.append(item_name_input);
        $(".body").append(item_name_div);

        var src_div = document.createElement("div");
        src_div.setAttribute("class", "add-div");
        src_div.setAttribute("id", "src-div");
        var src_input = document.createElement("input");
        src_input.setAttribute("id", "src");
        src_div.append(src_input);
        $(".body").append(src_div);

        var storage_div = document.createElement("div");
        storage_div.setAttribute("class", "add-div");
        storage_div.setAttribute("id", "storage-div");
        var storage_input = document.createElement("input");
        storage_input.setAttribute("id", "storage");
        storage_div.append(storage_input);
        $(".body").append(storage_div);

        var introduction_div = document.createElement("div");
        introduction_div.setAttribute("class", "add-div");
        introduction_div.setAttribute("id", "introduction-div");
        var introduction_input = document.createElement("input");
        introduction_input.setAttribute("id", "introduction");
        introduction_div.append(introduction_input);
        $(".body").append(introduction_div);

        var price_div = document.createElement("div");
        var price_input = document.createElement("input");
        price_div.setAttribute("class", "add-div");
        price_div.setAttribute("id", "price-div");
        price_input.setAttribute("type", "price");
        price_input.setAttribute("id", "price");
        price_div.append(price_input);
        $(".body").append(price_div);

        var submit_div = document.createElement("div");
        submit_div.click(function (){
            $.ajax({
                url:'/addItem',
                type:'get',
                data:{
                    phone:"{{ phone }}",
                    price:$("#price").val(),
                    storage:$("#storage").val(),
                    item_name:$("#item_name").val(),
                    src:$("#src").val(),
                    introduction:$("#introduction").val(),
                },
                success:function (data){
                    alert(data);
                }
            })
        })
    }
    </script>
{% endblock %}