{% extends "base_admin.html" %}

{% block script %}
    <script src="/static/js/render_user_info.js"></script>
    <script src="/static/js/render_items.js"></script>
    <script>
    let phone = "{{ phone }}"
    let type = 0;
    let user_info_box
    let user_amount_box

    window.onload = function (){
        user_info_box = $(".user-info-box")
        user_amount_box = $(".user-amount-box")
        get_and_render_user_info()
    }

    function get_and_render_user_info(){
        $.ajax({
            url:"/seller/sellerInfo",
            type:"get",
            data:{phone: phone},
            success: function (data){
                render_user_info(data)
            }
        })
    }
    </script>
{% endblock %}

{% block body %}
<div class="user-info-box"></div>
<div class="user-amount-box"></div>
{% endblock %}