{% extends "base_personInfo.html" %}

{#
页面需要参数：
phone:当前用户phone（String）
name:当前用户name
#}

{#title应放入base中#}
{% block title %}
{{ name }}的个人界面
{% endblock %}

{% block nav_bar %}
    <button class="nav-button" id="info" onclick="get_user_info()">info</button>
    <button class="nav-button" id="add-item" onclick="render_add()">add</button>
{% endblock %}

{% block script %}
    <script>
    let container;

    $(document).on("sessionLoaded", function () {

        container = $(".container");

        get_user_info();
    })
    
    function get_user_info(){
        $.ajax({
            url:"/seller/sellerInfo",
            type:"get",
            contentType: "application/json",
            dataType: "json",
            data:{phone:phone},
            success:function (data){
                render_user_info(data);
            }
            
        })
    }

    function render_add(){

        {#清除dom#}
        container.empty();

        {#form for input img#}
        const img_form = document.createElement("form");
        img_form.setAttribute("class", "img-form");

        {#input img#}
        const img_div = document.createElement("div");
        const img_show = document.createElement("img");
        const img_input = document.createElement("input");

        img_div.setAttribute("class", "info-div");
        img_div.setAttribute("id", "img-div");
        img_show.setAttribute("id", "show-img");
        img_show.onchange = function (){
            let reader = new FileReader();
            reader.onload = function (ev){
                img_show.setAttribute("src", ev.target.result);
            }
        }
        img_input.setAttribute("type", "file");
        img_input.setAttribute("id", "file");
        img_input.setAttribute("name", "image");
        img_input.setAttribute("accept", "image/*");
        img_div.append(img_input);
        container.append(img_div);

        const item_name_div = document.createElement("div");
        const item_name_input = document.createElement("input");
        
        item_name_div.setAttribute("class", "item_name-div");
        item_name_input.setAttribute("id", "item_name");
        item_name_input.setAttribute("placeHolder", "name");
        
        item_name_div.append(item_name_input);
        container.append(item_name_div);


        {#添加新物品——————库存————————————————————————————————————————————————————————————————————————————————#}
        const storage_div = document.createElement("div");
        const storage_input = document.createElement("input");
        
        storage_div.setAttribute("class", "storage-div");
        storage_input.setAttribute("id", "storage");
        storage_input.setAttribute("placeHolder", "storage");
        
        storage_div.append(storage_input);
        container.append(storage_div);


        {#添加新物品——————介绍————————————————————————————————————————————————————————————————————————————————#}
        const introduction_div = document.createElement("div");
        const introduction_input = document.createElement("input");
        
        introduction_div.setAttribute("class", "introduction-div");
        introduction_input.setAttribute("id", "introduction");
        introduction_input.setAttribute("placeHolder", "introduction");
        
        introduction_div.append(introduction_input);
        container.append(introduction_div);


        {#添加新物品——————价格————————————————————————————————————————————————————————————————————————————————#}
        const price_div = document.createElement("div");
        const price_input = document.createElement("input");
        
        price_div.setAttribute("class", "price-div");
        price_input.setAttribute("type", "price");
        price_input.setAttribute("id", "price");
        price_input.setAttribute("placeHolder", "price");
        
        price_div.append(price_input);
        container.append(price_div);


        {#添加新物品——————提交按钮——————————————————————————————————————————————————————————————————————————————#}
        const submit_div = document.createElement("div");
        const submit_button = document.createElement("button");

        submit_div.setAttribute("class", "submit-div");
        submit_button.setAttribute("class", "submit-button");

        submit_button.innerText = "Confirm";
        submit_button.onclick = function (){
            const formdata = new FormData();
            const formdata_img = new FormData(img_form)
            formdata.append("phone", phone);
            formdata.append("price", price_input.value);
            formdata.append("storage", storage_input.value);
            formdata.append("introduction", introduction_input.value);
            formdata.append("name", item_name_input.value);
            add_item(formdata, formdata_img, img_show)
        }
        submit_div.append(submit_button);
        container.append(submit_div);
    }

    function add_item(formdata, formdata_img, show_img){
        $.ajax({
            url:'/products/addItem',
            type:'get',
            data:formdata,
            success:function (data){
                if (data.success){
                    upload_item_img(formdata_img, show_img)
                    render_add();
                    alert(data.message);
                }else {
                    alert(data.message);
                }
            }
        })
    }

    {#上传图片方法————————————————————————————————————————————————————————————————————————————————————————————#}
    function upload_item_img(formdata, show_img){
        $.ajax({
            url:"/images/upload_image_product",
            type:"post",
            data:formdata,
            dataType:"json",
            processData:false,
            contentType:false,
            success:function (data){
                if (data.success) {

                    alert(data.message)
                }else {
                    alert(data.message)
                }
            }
        })
    }
    </script>
{% endblock %}

{% block body %}
    <div class="container"></div>
{% endblock %}