{% extends "base_admin.html" %}

{% block script %}
    <script src="/static/js/render_items.js"></script>
    <script>
        let item_container;

        window.onload = function (){
            item_container = $(".item-container");
            get_and_render_items();
        }

        function get_and_render_items(){
            $.ajax({
                url:"/products/getAllProducts",
                type:"get",
                success:function (data){
                    render_items($(".item-container"), data)
                }
            })
        }
    </script>
{% endblock %}

{% block body %}
<div class="item-container"></div>
{% endblock %}