{#
    This HTML file is page for users to inspect items.
    Users can also search items by items' name.
    Seller can only inspect items they have.
    Buyer can inspect all items.
    None-login user can only inspect ten popular items.
    It has such funtions:
    1. get_session (Extends)
    2. get_and_render_items
    3. render_prev_page_button
    4. render_next_page_button
    5. get_and_render_prev_page
    6. get_and_rende_next_page
    7. render_item
    8. render_buyer
    9. render_seller

    Using js:
    1. alert.js (Extends)
    2. get_user_image.js (Extends)

    JS functions:
    1. get_user_image (Extends)
    2. alert_message (Extends)
#}
{% extends "base.html" %}

{#set title#}
{% block title %}
    Shop
{% endblock %}

{#link css#}
{% block css %}
    <link rel="stylesheet" href="/static/css/shop.css">
{% endblock %}

{% block script %}
    <script src="/static/js/render_items.js"></script>
    <script>

    let page_num = 1;
    let item_container;

    {#when session is loaded#}
    $(document).on("sessionLoaded", function() {
        item_container = $(".item-container")

        {#get and render item automatically#}
        get_and_render_items();

        get_and_render_next_button();
        get_and_render_prev_button();

        if (type==="1"){
            const search_box = $(".search-box");
            search_box.css("display", "block");
            search_box.keyup(function (){
                get_and_render_items();
            })
            render_buyer();
        }
        if (type==="0"){
            render_seller();
        }
    });

    /**
     * This function is to get and render items
     */
    function get_and_render_items(){

        {#clear DOM#}
        $(".item-container").empty();

        $.ajax({
            url: "/shop/searchItemByName",
            type: "get",
            contentType: "application/json",
            dataType: "json",
            data: {
                phone: phone,
                keyword: $("#search-box").val(),
                page_num: page_num,
            },
            success: function (data) {
                render_items(data);

                {#Render BUTTON page button#}
                get_and_render_next_button()
                get_and_render_prev_button();
            }
        })
    }

    /**
     * This function is to render BUTTON prev
     */
    function render_prev_page_button(){
            const button = document.createElement("button");
            button.setAttribute("class", "page-button");
            button.innerText = "prev";
            button.onclick = function () {
                page_num--;
                get_and_render_items();
            }
            $(".prev").append(button);
    }

    /**
     * This function is to get and render BUTTON prev
     */
    function get_and_render_prev_button(){

        {#clear DOM#}
        $(".prev").empty();

        if (page_num>1){
            render_prev_page_button()
        }
    }

    /**
     * This function is to render BUTTON next
     */
    function render_next_page_button() {
        const button = document.createElement("button");
        button.setAttribute("class", "page-button");
        button.innerText = "next";
        button.onclick = function () {
            page_num++;
            get_and_render_items();
        }
        $(".next").append(button);
    }

    /**
     * This function is to get and render BUTTON next
     */
    function get_and_render_next_button(){

        {#clear DOM#}
        $(".next").empty();

        $.ajax({
            url:"/shop/hasNextPage",
            type:"get",
            contentType: "application/json",
            dataType: "json",
            data: {
                phone: phone,
                keyword: $("#search-box").val()===null?"":$("#search-box").val(),
                page_num: page_num,
            },
            success: function (data) {
                if (data.has_next) {
                    render_next_page_button(data)
                }
            }
        })
    }

    /**
     * This method is to render buyer components
     */
    function render_buyer(){
        const item_title_box = $(".item-title");
        item_title_box.empty();

        const item_title_text = document.createElement("span", {
            class: "item-title-text"
        })
        item_title_text.innerText = "All Products:"
        item_title_box.append(item_title_text);
    }

    /**
     * This method is to render seller components
     */
    function render_seller(){
        const item_title_box = $(".item-title");
        item_title_box.empty();

        const item_title_text = document.createElement("span", {
            class: "item-title-text"
        })
        item_title_text.innerText = "Product Management:"
        item_title_box.append(item_title_text);
    }
    </script>
{% endblock %}

{% block main %}
    <div class="item-title"></div>
    <div class="item-container"></div>
    <div class="prev"></div>
    <div class="next"></div>
{% endblock %}