{% extends "base_admin.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block script %}
    <script src="/static/js/render_items.js"></script>
    <script>
        let item_container;

        window.onload = function (){
            item_container = $(".right-bar");
            get_and_render_items();
        }

        function get_and_render_items(){
            $.ajax({
                url:"/products/getAllProducts",
                type:"get",
                success:function (data){
                    render_items($(".right-bar"), data)
                }
            })
        }
    </script>
{% endblock %}

{% block body %}
<div class="right-bar"></div>
{% endblock %}